
/* Your CSS Code here. */
.first-slide{
    background-color: aqua;

}
.second-slide{
    background-color: aqua;

}
.third-slide{
    background-color: aqua;

}
.fourth-slide{
    background-color: aqua;

}
.fifth-slide{
    background-color: aqua;

}
#mycrousel{
    background-color: aqua;
    
}
